//estilos generales

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.oswald-uniquifier {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

//HEADER//

header {
    // display: flex;
    // flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: map-get($colores, claro1);
    width: 100%;
    /* height: 70px; */
    position: sticky;
    top: 0;
    padding: 20px;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 40px;

        li a {
            &:hover {
                color: map-get($colores, claro1);
                background-color: map-get($colores, oscuro1);
                padding: 3px;
                transition: margin 4s;
            }
        }
    }

    a {
        font-family: "Oswald", sans-serif;
        font-size: 26px;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 5px;
    }

    img {
        position: sticky;
        top: 0px;
        left: 10px;
        // padding-top: 20px;
    }
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($colores, claro1);
    color: map-get($colores, oscuro1);

    .logoI {
        font-weight: 700;
    }

    div ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        margin-top: 10px;
    }

    ul li a {
        text-decoration: none;
        color: map-get($colores, oscuro1);
    }

    #toggle,
    label {
        /*el # es para llamar un id*/
        display: none;
        /*así desaparece*/
    }
}


//main
.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    @include medidas(100%, 70px);
    // width: 100%;
    // height: 70px;
    background-color: map-get($colores, gray);
    text-transform: uppercase;
}

.banner {
    @include medidas(100%, 50%);
    //width: 100%;
    //height: 50%;
    object-fit: cover;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    opacity: 1;
    letter-spacing: 5px;
    color: map-get($colores, claro1);
    text-shadow: 0.1rem 0.1rem 0.625rem map-get($colores, oscuro1);
    margin: 10px;
}


//footer

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include medidas(100%, auto);
    //width: 100%;
    //height: auto;
    background-color: map-get($colores, claro1);
    position: sticky;
    bottom: 0;
    padding: 10px;
}

.redes {
    position: fixed;
    left: 10px;
    bottom: 10px;
    /*lo fija abajo!*/
    // padding-left: 25px;
    // padding-top: 25px;
    margin: 1px;

    img {
        @include medidas(40px, 40px);
        //width: 40px;
        //height: 40px;
    }
}

.horarios {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.wpp {
    @include medidas(60px, 60px);
    //width: 60px;
    //height: 60px;
    margin-left: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;

    // padding-right: 25px;
    // padding-top: 5px;
    img {
        @include medidas(60px, 60px);
    }
}