.menuMain {
    width: 100%;
    height: auto;
    background-color: #9FABB1;
}

.menues {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas:
        "menu1 menu2 menu3"
    ;
    justify-content: center;
    padding: 20px 0px 20px 0px;

    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 420px;
        height: 520px;
        padding: 10px 20px 10px 20px;
        border: 2px solid #2C1910;
        border-radius: 5%;
        background-color: #FFFBEF;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.menu1 {
    /* width: 300px;
    height: 520px; */
    margin-left: 20rem;

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2px;
    }
}

.menu2 {
    /* width: 400px;
    height: 420px;*/
    margin: 0px 5rem 0px 5rem;


    div {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    div h2 {
        margin-bottom: 10px;
    }
}

.combos ol {
    padding-left: 20px;
}

.menu3 {
    /* width: 410px;
    height: 500px;*/
    margin-right: 20rem;

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2px;
    }
}