.menuMain {
    @include medidas(100%,auto);
    //width: 100%;
    //height: auto;
    background-color: map-get($colores, lightGray );
}

.menues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
 section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 25%;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: map-get($colores,oscuro1 );
    text-wrap: pretty;
    }
}

.combos ol {
    padding-left: 20px;
}
