$colores: (
    claro1: #f6ebda,
    //claro1b: #fff6ea,
    // claro2: #f6ebdafa,
    claroTransparente: #f6ebdae5,
    logoH1: #E1B789,
    claro2: #E2C09A,
    blanco: #F1F2EF,
    claro4:#D8BFA1,
    marron: #5F3927,
    oscuro1: #2C1910,
    colorNav: #1f1c1b,
    gray: #9b9a98b0,
    lightGray: #b6c5cc,
    negro: black,
);